html,
body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

p {
    margin: 0px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.mix-blend-mode body {
    color: white;
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    background-color: #1e3d58;
    z-index: 1;
}

.logo {
    font-size: 6vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.navbar {
    display: flex;
    height: 10vh;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.main {
    position: relative;
    top: 10vh;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.aboutme {
    height: 90vh;
    background-color: #057dcd;
    scroll-snap-align: end;
}

.fade {
    margin: 0px;
    font-size: 8vh;
    z-index: 0;
    position: fixed;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    mix-blend-mode: overlay;
    flex-direction: column;
}

.fade a {
    display: inline-block;
    font-size: 4vh;
}

.fadearea {
    height: 100vh;
    background-color: #43b0f1;
    scroll-snap-align: end;
}

.scrollsnap {
    scroll-snap-align: start;
}

.aboutblog {
    height: 90vh;
    background-color: #057dcd;
    position: fixed;
    z-index: -1;
    top: 10vh;
    width: 100vw;
}

.aboutblog p {
    height: 90vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 4vh;
    z-index: -0.1;
}

.fade2 {
    font-size: 3vh;
    z-index: 0;
}

.footer {
    top: 100vh;
    position: relative;
    scroll-snap-align: end;
    width: 100vw;
    height: 90vh;
    background-color: #43b0f1;
}

.footer-logo {
    font-size: 4vh;
    width: 100vw;
    text-align: center;
}