html, body {
    margin: 0px;
    font-family: "Roboto", sans-serif;;
}

a:link {color: white; text-decoration: none;}
a:visited {color: white; text-decoration: none;}
a:hover {color: white; text-decoration: none;}
a:active {color: white; text-decoration: none;}

.mix-blend-mode body {
    color: white;
}

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    background-color: #1e3d58;
    z-index: 1;
}

.logo {
    font-size: 6vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.navbar {
    display: flex;
    height: 10vh;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.main {
    position: relative;
    top: 10vh;
}

.aboutme {
    height: 90vh;
    background-color: #057dcd;
}

.aboutme p {
    margin: 0px;
    font-size: 10vh;
    z-index: 0;
    position: fixed;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    mix-blend-mode: overlay;
}

.aboutblog {
    height: 200vh;
    background-color: #43b0f1;
    z-index: 0.5;
}