html, body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
a:hover {color: black; text-decoration: none;}
a:active {color: black; text-decoration: none;}

.header {
    height: 10vh;
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.logo {
    font-size: 6vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.navbar {
    display: flex;
    height: 10vh;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}